.App-logo {
    animation: spin infinite 15s linear;
    height: 40px;
}

.App-header {
    background-color: #222;
    padding: 40px;
    color: white;
    text-align: center;
    height: 160px;

}

.App-intro {
    font-size: large;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.choiceMain {
    display: flex;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.center {
    margin: auto;
    width: 50%;
    border: 1px solid black;

    padding: 50px;
}

